<div class="modal">
  <div class="modal__header">
    <ion-avatar class="modal__avatar">
      <ion-img
        alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
        ></ion-img>
    </ion-avatar>
    <div class="modal__header-title">Harold Mauricio Díaz Vargas</div>
    <ion-icon name="caret-down-sharp"></ion-icon>
    <div class="modal__header-subtitle">Post in Anyone</div>
  </div>

  <ion-fab-button class="modal__close" (click)="onDismiss()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>

  <form action="" class="modal__form" #f="ngForm" (ngSubmit)="onPost()">
    <div class="modal__form-container">
      <ion-textarea 
        [(ngModel)]="body"
        class="modal__form-area"  
        type="text" 
        name="body" 
        required
        [autoGrow]="true"
        [placeholder]="!body ? '¿What do you want to talk about?': null"
        legacy="true"></ion-textarea>
    </div>

    <ion-fab-button class="modal__keyboard">
      <ion-icon name="happy-outline"></ion-icon>
    </ion-fab-button>

    <div class="modal__action">
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="aperture"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="briefcase"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="bar-chart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="modal__action-btn">
        <ion-icon name="people"></ion-icon>
      </ion-fab-button>

    </div>
    
    <div class="modal__divider"></div>
    
    <div class="modal__post">
      <ion-fab-button class="modal__post-schedule">
        <ion-icon name="time-outline"></ion-icon>
      </ion-fab-button>
      <ion-button [disabled]="!f.valid" class="modal__post-btn" type="submit" shape="round" size="small"><span>
        {{ postToUpdate ? 'Edit' : 'Post' }}
      </span></ion-button>
    </div>
  </form>



</div>