<ion-card class="requests">
  <ion-card-content class="requests__users">
    <div class="requests__user">
      <ion-avatar class="requests__avatar">
        <ion-img
        alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
        ></ion-img>
      </ion-avatar>
  
      <ion-card-subtitle class="requests__info">
        <p class="requests__name">Salomón Díaz</p>
        <p class="requests__profession">Lead UX UI | Product Designer | Mentor UX | Podcaster</p>
        <ion-button  shape="round" color="primary" size="small">
          Accept
        </ion-button>
        <ion-button  shape="round" color="danger" size="small">
          Decline
        </ion-button>
      </ion-card-subtitle>
    </div>

    <div class="requests__user">

      <ion-avatar class="requests__avatar">
        <ion-img
        alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
        ></ion-img>
      </ion-avatar>
    
      <ion-card-subtitle class="requests__info">
        <p class="requests__name">Salomón Díaz</p>
        <p class="requests__profession">Lead UX UI | Product Designer | Mentor UX | Podcaster</p>
        <ion-button  shape="round" color="primary" size="small">
          Accept
        </ion-button>
        <ion-button  shape="round" color="danger" size="small">
          Decline
        </ion-button>
      </ion-card-subtitle>
    </div>

  </ion-card-content>

</ion-card>