<!-- <ion-content> -->

<ion-content>
  <ion-card class="profile">
    <div class="backdrop" [style.background]="bannerColors.colorTwo">
      <div class="background-one" [style.background]="bannerColors.colorOne"></div>
      <div class="half-ellipse" [style.background]="bannerColors.colorOne"></div>
      <div class="background-two" [style.background]="bannerColors.colorTwo"></div>
      <div class="background-three" [style.background]="bannerColors.colorThree"></div>
    </div>
    <ion-card-header class="ion-text-center profile__header">
      <ion-avatar class="ion-margin-auto profile__avatar">
        <ion-img
        alt="Silhouette of a person's head" *ngIf="userProfile" [src]="userProfile.imagePath ? baseUserImageUrl+userProfile.imagePath : baseUserImageUrl+'avatar.svg'"
        ></ion-img>
      </ion-avatar>
      <ion-card-title class="profile__header-title" *ngIf="userProfile">{{ userProfile.firstName }} {{ userProfile.lastName }}</ion-card-title>
      <ion-card-subtitle class="profile__header-subtitle">Software Developer</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="profile__interact">
      <ng-container *ngIf="['not-sent', 'pending', 'waiting-for-current-user-response'].includes(friendRequestStatus.status)">
        <ion-button 
          class="profile__interact-btn" 
          shape="round" 
          color="primary" 
          size="small"
          [disabled]="['pending'].includes(friendRequestStatus.status)"
          (click)="addConnection('accepted')"
        >
          <span>{{ friendRequestStatus.status === 'waiting-for-current-user-response' ? 'Accept' : 'Connect' }}</span>
        </ion-button>
        <ion-button
          class="profile__interact-btn" 
          shape="round" 
          color="danger" 
          size="small"
          *ngIf="friendRequestStatus.status === 'waiting-for-current-user-response'"
          (click)="addConnection('declined')"
          >
          <span>Decline</span>
        </ion-button>
      </ng-container>
      <ng-container *ngIf="friendRequestStatus.status === 'accepted' && (currentUser.id !== userProfile.id)">
        <ion-button class="profile__interact-btn" fill="outline" shape="square" color="primary" size="small">
          <ion-icon name="lock-closed"></ion-icon>
          <span>Message</span>
        </ion-button>
        <ion-button class="profile__interact-btn" fill="outline" shape="round" color="primary" size="small">
          <span>More</span>
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>

</ion-content>
