<ion-card class="advertising">
    <ion-card-header>
        <div class="advertising__header">
            <ion-card-title class="advertising__title">Add to your feed</ion-card-title>
            <ion-icon name="information-circle" id="click-icon">
              <ion-popover class="info__popover" trigger="click-icon" show-backdrop="false" triggerAction="click" side="left" alignment="center">
                <ng-template>
                  <ion-content class="info__popover-content">
                    <div>Follow topics that interest you to personalize your feed. <a>More information</a></div>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-icon>

        </div>
    </ion-card-header>

    <a href="">
      <ion-card-content class="advertising__users">
          <ion-avatar class="ion-margin-auto advertising__users-avatar">
          <ion-img
          alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
          ></ion-img>
        </ion-avatar>
        <ion-card-subtitle class="advertising__users-info">
          <p class="advertising__users-name">Salomón Díaz</p>
          <p class="advertising__users-profession">Lead UX UI | Product Designer | Mentor UX | Podcaster</p>
          <ion-button fill="outline" shape="round" color="dark" size="small">
            <ion-icon slot="start" name="add"></ion-icon>
            Follow
          </ion-button>
        </ion-card-subtitle>
      </ion-card-content>
    </a>
    
    <a href="">
      <ion-card-content class="advertising__users">
          <ion-avatar class="ion-margin-auto advertising__users-avatar">
              <ion-img
              alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
              ></ion-img>
          </ion-avatar>
          <ion-card-subtitle class="advertising__users-info">
            <p class="advertising__users-name">Salomón Díaz</p>
            <p class="advertising__users-profession">Lead UX UI | Product Designer | Mentor UX | Podcaster</p>
            <ion-button fill="outline" shape="round" color="dark" size="small">
              <ion-icon slot="start" name="add"></ion-icon>
              Follow
            </ion-button>
          </ion-card-subtitle>
      </ion-card-content>
    </a>

    <a href="">
      <ion-card-content class="advertising__users">
          <ion-avatar class="ion-margin-auto advertising__users-avatar">
              <ion-img
              alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
              ></ion-img>
          </ion-avatar>
          <ion-card-subtitle class="advertising__users-info">
            <p class="advertising__users-name">Salomón Díaz</p>
            <p class="advertising__users-profession">Lead UX UI | Product Designer | Mentor UX | Podcaster</p>
            <ion-button fill="outline" shape="round" color="dark" size="small">
              <ion-icon slot="start" name="add"></ion-icon>
              Follow
            </ion-button>
          </ion-card-subtitle>
      </ion-card-content>
    </a> 
    
    <a href="" class="advertising__footer">
      <span>See all recomendations</span>
      <ion-icon name="arrow-forward"></ion-icon>
    </a>

</ion-card>