<ion-card class="profile-summary">
  <div class="backdrop">
    <div class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center profile-summary__header">
    <ion-avatar class="ion-margin-auto profile-summary__avatar">
      <ion-img
      alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
      ></ion-img>
    </ion-avatar>
    <ion-card-title class="profile-summary__header-title">Harold Mauricio Díaz Vargas</ion-card-title>
    <ion-card-subtitle class="profile-summary__header-subtitle">Software Developer</ion-card-subtitle>
  </ion-card-header>

  <div class="item-divider"></div>

  <ion-card-content class="contacts">
    <ion-card-subtitle>
      <p>Contacts</p>
      <ion-icon name="person-add" class="contacts__icon"></ion-icon>
    </ion-card-subtitle>
    <p>Expand your network</p>
  </ion-card-content>

  <div class="item-divider"></div>

  <ion-card-content >
    <p >Access exclusive tools and information</p>
    <div class="premium">
      <div class="premium__icon"></div>
      <p >Get hired faster, try premium for free</p>
    </div>
  </ion-card-content>
  
  <div class="item-divider"></div>

  <ion-card-content class="bookmark" >
    <ion-icon name="bookmark" class="bookmark__icon"></ion-icon>
    <p class="bookmark__text">Bookmark</p>
  </ion-card-content>  
</ion-card>
