@use "src/styles/utils" as u;
.profile-summary {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #e1e1e1;
    border-radius: u.rem(10px);
    
    &__header{
        margin-top: u.rem(-54px);

        &-title{
            margin-top: u.rem(15px);
            font-size: clamp(u.rem(10px), u.rem(5px) + 2vw, u.rem(20px));

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &-subtitle{
            font-size: clamp(u.rem(8px), u.rem(4px) + 2vw, u.rem(16px));
        }
    }
    &__avatar {
        margin: auto;
        border: 2px solid var(--ion-color-primary-contrast);
        box-shadow: inset 0px 0px 0px 10px var(--ion-color-primary-contrast);
    }

    ion-card-content:hover {
        cursor: pointer;
        background-color: #e1e1e1;
    }


}

.backdrop {
    height: u.rem(54px);
    display: flex;
    background-color: #dbe7e9;

    .background-one {
        background-color: #a0b4b7;
        width: u.rem(150px);
        height: 100%;
    }

    .half-ellipse {
        border-radius: 0 100% 100% 0 / 70%;
        background-color: #a0b4b7;
        width: u.rem(10px);
        height: 100%;
    }

    .background-two {
        background-color: #dbe7e9;
        width: u.rem(15px);
        height: 100%;
    }
    .background-three {
        background-color: #bfd3d6;
        width: u.rem(45px);
        height: 100%;
    }
}


.contacts {
    ion-card-subtitle {
        display: flex;
        justify-content: space-between;
        
        p {
            font-weight: 300;
        }
    }
    
    p {
        font-weight: bold;
    }
    
    &__icon {
        font-size: u.rem(15px);
    }
}


ion-card-content {
        p {
            font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
        }
      
}

.premium {
    display: flex;
    &__icon {
        width: u.rem(13px);
        height: u.rem(13px);
        background: linear-gradient(to top right, #b58030, #ffba53);
        margin-right: u.rem(5px);
    }

    p {
        font-weight: bold;
        text-decoration: underline;
        color: var(--ion-color-primary)
    }
}

.bookmark {
    display: flex;
    align-items: center;
    &__icon {
        font-size: u.rem(13px);

    }
    &__text{
        margin: 0 0 0 u.rem(5px);
    }

}