<ion-card class="profile-summary">
  <div class="backdrop" [style.background]="bannerColors.colorTwo">
    <div class="background-one" [style.background]="bannerColors.colorOne"></div>
    <div class="half-ellipse" [style.background]="bannerColors.colorOne"></div>
    <div class="background-two" [style.background]="bannerColors.colorTwo"></div>
    <div class="background-three" [style.background]="bannerColors.colorThree"></div>
  </div>

    <ion-card-header class="ion-text-center profile-summary__header">
      <input style="display: none" #fileUpload (change)="onFileSelect($event)" type="file" name="" id="">
      <ion-avatar (click)="fileUpload.click()" class="ion-margin-auto profile-summary__avatar">
        <ion-img
        alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
        ></ion-img>
      </ion-avatar>
      <a href="">
        <ion-card-title class="profile-summary__header-title">Harold Mauricio Díaz Vargas</ion-card-title>
        <ion-card-subtitle class="profile-summary__header-subtitle">Software Developer</ion-card-subtitle>
      </a>
    </ion-card-header>
  
  <div class="item-divider"></div>

  <a href="">
    <ion-card-content class="contacts">
      <ion-card-subtitle>
        <p>Contacts</p>
        <ion-icon name="person-add" class="contacts__icon"></ion-icon>
      </ion-card-subtitle>
      <p>Expand your network</p>
    </ion-card-content>
  </a>

  <div class="item-divider"></div>

  <a href="">
    <ion-card-content class="premium">
      <p >Access exclusive tools and information</p>
      <div class="premium__redirect">
        <div class="premium__icon"></div>
        <p >Get hired faster, try premium for free</p>
      </div>
    </ion-card-content>
  </a>
  
  <div class="item-divider"></div>

  <a href="">
    <ion-card-content class="bookmark" >
      <ion-icon name="bookmark" class="bookmark__icon"></ion-icon>
      <p class="bookmark__text">Bookmark</p>
    </ion-card-content>  
  </a>
</ion-card>
