@use "src/styles/utils" as u;


$width-card: 45vw;

.start-post {
    background-color: #fff;
    width: $width-card;
    box-shadow: none;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: u.rem(10px);

    .post{
        &__create {
            display: flex;
        
            ion-avatar{
                width: u.rem(40px);
                height: u.rem(40px);
                margin: auto;
            }

        }

        &__addons{
            display: flex;
            margin: auto;
            width: 90%;
            justify-content: space-between;

            &-container {
                display: flex;
                align-items: center;
                padding: u.rem(8px) u.rem(5px);
                font-weight: bold;

                &:hover{
                    cursor: pointer;
                    background-color: #e1e1e1;
                }
                
                span {
                    margin-left: u.rem(5px);
                    font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
                }
            }

            &-image{
                color: var(--ion-color-primary);
            }

            &-event{
                color: #c37d16
            }

            &-article{
                color: #e16745
            }
        }
    }
    
}

.filter {
    display: flex;
    flex-wrap: nowrap;
    width: $width-card;
    margin: auto;
    justify-content: center;
    align-items: center;
    &__divider{
        flex-grow: 1;
        flex-basis: 0;
        height: 1px;
        background-color: #c4c4c4;
        margin-right: u.rem(5px);
    }

    &__menu{
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
        margin-right: u.rem(5px);
    }

    &__icon{
        font-size: u.rem(13px);
    }
}