@use "src/styles/utils" as u;

.start-post {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: u.rem(10px);

    .post{
        &__create {
            display: flex;
        
            ion-avatar{
                width: u.rem(40px);
                height: u.rem(40px);
            }

            &-btn {
                width: 100%;
                margin: 0 auto 0 u.rem(5px);
                --background-hover: #e1e1e1;

                span{
                    margin-right: auto;
                    margin-left: u.rem(5px);
                    text-transform: lowercase;
                    padding: u.rem(15px) 0;
                    font-weight: 600;

                    &::first-letter{
                        text-transform: uppercase;
                    }
                  

                }
            }

        }

        &__addons{
            display: flex;
            margin: auto;
            width: 90%;

            justify-content: space-between;

            &-container {
                display: flex;
                align-items: center;
                padding: u.rem(8px) u.rem(5px);
                font-weight: bold;

                &:hover{
                    cursor: pointer;
                    background-color: #e1e1e1;
                }
                
                p {
                    margin: auto 0 auto u.rem(5px);
                    font-size: clamp(u.rem(5px), u.rem(5px) + 1vw, u.rem(13px));
                    @include u.breakpoint-down(small) {
                        display: none;
                    }
                }
            }

            &-image, &-event, &-article{
                font-size: u.rem(20px);
                @include u.breakpoint-down(medium) {
                    font-size: u.rem(30px)
                }
            }
            &-image{
                color: var(--ion-color-primary);
            }

            &-event{
                color: #c37d16;
            }

            &-article{
                color: #e16745;
            }
        }
    }
    
}

