<div>
    <ion-card class="start-post">
        <ion-card-header>
            <div class="post__create ion-margin-bottom">
                <ion-avatar class="ion-margin-auto">
                    <ion-img
                    alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
                    ></ion-img>
                </ion-avatar>
                <ion-button (click)="presentModal()" shape="round" fill="outline" color="medium" size="small" class="post__create-btn">
                    <span>Start a post</span>
                </ion-button>
            </div>
            <div class="post__addons ion-margin-top">
                <div class="post__addons-container">
                    <ion-icon name="image" class="post__addons-image"></ion-icon>
                    <p>Multimedia</p>
                </div>
                <div class="post__addons-container">
                    <ion-icon name="calendar" class="post__addons-event"></ion-icon>
                    <p>Event</p>
                </div>
                <div class="post__addons-container">
                    <ion-icon name="newspaper" class="post__addons-article"></ion-icon>
                    <p>Write an article</p>
                </div>
            </div>
        </ion-card-header>
    </ion-card>
</div>