@use "src/styles/utils" as u;

.post {
    .header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // width: 100%;

        &__avatar {
            width: u.rem(45px);
            height: u.rem(45px);
            @include u.breakpoint-down(small) {
                width: u.rem(35px);
                height: u.rem(35px);
            }
            
            &:hover{
                cursor: pointer;
            }
        }

        &__info {
            margin-left: u.rem(5px);
            margin-right: auto;
        }

        &__title{
            font-weight: 550;
            font-size: clamp(u.rem(10px), u.rem(5px) + 2vw, u.rem(20px));
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: var(--ion-color-primary);
            }
        }

        &__subtitle {
            font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));

            &-stats {
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            &-date {
                display: flex;
                align-items: center;

                ion-icon {
                    margin-left: u.rem(5px);
                    font-size: u.rem(15px);
                }

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        &__change{
            align-self: flex-start;
        }
        &__update {
            color: var(--ion-color-warning-contrast);
        }
        &__delete {
            color: var(--ion-color-danger)
        }
        &__update, &__delete {
            font-size: u.rem(20px);
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }

    }

    .content{
        &__text {
            font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
        }

        &__media {
            margin-bottom: u.rem(10px);
        }

        &__statics {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-reactions{
                display: flex;
                align-items: center;
                cursor: pointer;

                fa-icon, ion-icon{
                    font-size: u.rem(15px);
                    @include u.breakpoint-down(small) {
                        
                        size: u.rem(10px);
                    }
                }

                .icon-container{
                    height: u.rem(20px);
                    width: u.rem(20px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;

                    &--blue {
                        background-color: #3a7be0;
                    }
                    &--yellow {
                        background-color: #c37d16;
                        margin-left: u.rem(-5px);
                        z-index: 50;
                    }
                    &--red {
                        background-color: #e16745;
                        margin-left: u.rem(-5px);
                        z-index: 60;
                    }

                    @include u.breakpoint-down(small) {
                        height: u.rem(17px);
                        width: u.rem(17px);
                    }
                }
                .like {
                    color: #9fc1f5;
                    transform: scaleX(-1);
                }
                
                .heart, .bulb {
                    color: #fff;
                }

                &__total {
                    margin-left: u.rem(3px);
                    font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
                    @include u.breakpoint-down(small) {
                        display: none;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    color: var(--ion-color-primary);
                }
                
            }

            &-comments {
                font-size: clamp(u.rem(6px), u.rem(3px) + 2vw, u.rem(13px));
                text-wrap: nowrap;
                & span:hover{
                    cursor: pointer;
                    text-decoration: underline;
                    color: var(--ion-color-primary);
                }
            }
        }

        &__divider{
            height: 1px;
            background-color: #c4c4c4;
            margin-top: u.rem(8px);
            margin-bottom: u.rem(8px);
        }

        &__interact {
            display: flex;
            justify-content: space-between;
            align-items: center;

            
            .content__react {
                padding: u.rem(7px) u.rem(10px);
                display: flex;
                align-items: center;

                &:hover{
                    cursor: pointer;
                    background-color: #e1e1e1;
                    border-radius: u.rem(5px);
                }

                &-icon{
                    font-size: u.rem(17px);
                    margin-right: u.rem(5px);
                }
                
                &-text {
                    font-size: clamp(u.rem(8px), u.rem(4px) + 1vw, u.rem(14px));
                }

                @include u.breakpoint-down(small) {
                    &-icon{
                        font-size: u.rem(20px);
                    }

                    &-text {
                        display: none;
                    }
                }
                
            }
        }

    }
}
