@use "src/styles/utils" as u;

.popover__subtitle{
    font-weight: bold;
    font-size: u.rem(18px);
}

.item-divider {
    border: u.rem(1px) solid var(--ion-color-light-tint);
}

.user-popover {
    width: u.rem(300px);

    &__subtitle {
        font-weight: bold;
        font-size: u.rem(15px);
        margin-bottom: u.rem(5px);
    }

    &__text {
        padding-bottom: u.rem(5px);
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

