<ion-header class="ion-container ion-no-border header">
  <ion-toolbar>
    <div class="header__content">
      <a href="" class="header__logo">
        <ion-icon color="primary" name="logo-linkedin" class="linkedin-logo"></ion-icon>
      </a>
      <ion-searchbar color="tertiary" class="ion-hide-lg-down header__search-bar" placeholder="Search"></ion-searchbar>
      <ion-grid class="header__menu">
        <ion-row class="ion-justify-content-end">
          <ion-col class="header__menu-col header__menu-col__house">
              <a href="">
                <ion-icon name="home"></ion-icon>
                <h3 class="header__menu-text">Home</h3>
              </a>  
          </ion-col>
          <ion-col class="header__menu-col"
              (click)="presentPopover($event)">
              <ion-icon name="people"></ion-icon>
              <ion-badge color="danger" class="notification-badge notification-badge--offset">
                {{ this.connectionService.friendRequests.length }}
              </ion-badge>
              <div class="header__menu-text">My Network</div>
          </ion-col>
          <ion-col class="header__menu-col">
            <a href="">
              <ion-icon name="briefcase"></ion-icon>
              <div class="header__menu-text">Jobs</div>
            </a>
          </ion-col>
          <ion-col class="header__menu-col">
            <a href="">
              <ion-icon name="chatbox-ellipses"></ion-icon>
              <div class="header__menu-text">Messaging</div>  
            </a>
          </ion-col>
          <ion-col class="header__menu-col notification-container">
            <a href="">
              <ion-icon name="notifications"></ion-icon>
              <ion-badge color="danger" class="notification-badge">10</ion-badge>
              <div class="header__menu-text">Notifications</div>  
            </a>
          </ion-col>
          <ion-col size="auto" class="header__menu-col" id="click-trigger">
            <ion-popover class="user-popover" dismissOnSelect="true" trigger="click-trigger"  show-backdrop="false" triggerAction="click">
              <ng-template>
                <app-popover></app-popover>
              </ng-template>
            </ion-popover>
            <ion-avatar class="avatar">
              <ion-img
              alt="Silhouette of a person's head" [src]="userFullImagePath"
              ></ion-img>
            </ion-avatar>
            <div class="header__menu-text avatar__label">
              Me
              <ion-icon name="caret-down-outline" class="avatar__caret">
              
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
