@use "src/styles/utils" as u;

.header {
    border-bottom: u.rem(1px) solid var(--ion-color-light);

    &__content{
        display: flex;
        max-width: u.rem(1128px);
        margin: auto;
    }

    &__search-bar {
        max-width: u.rem(500px);
        --box-shadow: none;
        transform: scale(0.8);
        margin-left: u.rem(-60px);
    }

    &__menu-col {
        width: u.rem(80px);
        text-align: center;
        cursor: pointer;
    }

    &__menu-text {
        font-size: clamp(u.rem(8px), u.rem(7px) + 1vw, u.rem(14px));
        font-weight: 400;

        @include u.breakpoint-down(exSmall) {
            display: none;
          }

    }

}

.notification-badge {
    width: clamp(u.rem(8px), u.rem(5px) + 1vw, u.rem(12px));
    height: clamp(u.rem(8px), u.rem(6px) + 1vw, u.rem(12px));
    font-size: clamp(u.rem(8px), u.rem(6px) + 1vw, u.rem(12px));;
    position: relative;
    bottom: u.rem(10px);
    right: u.rem(10px);
    border-radius: 100%;
    padding: u.rem(4px) u.rem(4px);
}

.notification-container {
    @include u.breakpoint-down(exSmall) {
        display: flex; 
        align-items: center; 
        white-space: nowrap;
      }
}

.linkedin-logo {
    font-size: u.rem(40px);
}

.avatar {
    width: u.rem(24px);
    height: u.rem(24px);
    margin: auto;

    &__label{ 
        display: flex;
        justify-content: center;
        align-items: center;
        height: u.rem(24px);
        @include u.breakpoint-down(exSmall) {
            display: none;
          }
    }
    &__caret{
        font-size: u.rem(20px);
    }
}

.user-popover {
    --box-shadow: none;
    margin-top: u.rem(14px);
}
