<ion-header class="ion-container ion-no-border header">
  <ion-toolbar class="header__content">
    <div class="header__content">
      <ion-buttons slot="start" class="ion-no-padding">
        <ion-button>
          <ion-icon color="primary" name="logo-linkedin" class="linkedin-logo"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar color="tertiary" class="ion-hide-lg-down header__search-bar" placeholder="Search"></ion-searchbar>
      <ion-grid class="header__menu">
        <ion-row class="ion-justify-content-end">
          <ion-col class="header__menu-col">
            <ion-icon name="home"></ion-icon>
            <div class="header__menu-text">Home</div>
          </ion-col>
          <ion-col class="header__menu-col">
            <ion-icon name="people"></ion-icon>
            <div class="header__menu-text">My Network</div>
          </ion-col>
          <ion-col class="header__menu-col">
            <ion-icon name="briefcase"></ion-icon>
            <div class="header__menu-text">Jobs</div>
          </ion-col>
          <ion-col class="header__menu-col">
            <ion-icon name="chatbox-ellipses"></ion-icon>
            <div class="header__menu-text">Messaging</div>
          </ion-col>
          <ion-col class="header__menu-col">
            <ion-icon name="notifications"></ion-icon>
            <ion-badge color="danger" class="notification-badge">10</ion-badge>
            <div class="header__menu-text">Notifications</div>
          </ion-col>
          <ion-col size="auto" class="header__menu-col">
            <ion-avatar class="avatar">
              <ion-img
              alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"
              ></ion-img>
            </ion-avatar>
            <div class="header__menu-text avatar__label">
              Me
              <ion-icon name="caret-down-outline" class="avatar__caret" id="click-trigger">
                <ion-popover class="user-popover" trigger="click-trigger"  show-backdrop="false" triggerAction="click">
                  <ng-template>
                    <app-popover></app-popover>
                  </ng-template>
                </ion-popover>
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-header>
